.carousel-container {
    background: linear-gradient(to right, #ffc0cb73 0%,#ffc0cb88 25%, #d7fbfd73 45% , #ffffff00 55% );
    height: max-content;
    box-sizing: border-box;
    color: #173f5f;
}

.banner-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.carousel-section {
    max-width: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .image-section {
      display: flex;
      align-items: baseline;
      justify-content: end;
      height: 50vh;
      max-width: 100% !important;
      box-sizing: border-box;
      margin-right:-24px !important;
    }
    
    .image-container {
        width: 100%;
        height: auto;
        background-size: auto;
        background-position: center;
    }
  
    .text-section { 
    padding:20px 30px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  
  .carousel .slide {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }
  
  .banner-container .carousel .control-dots {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 50%; /* Center the dots horizontally */
    transform: translateX(-50%); /* Center the dots */
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .banner-container .carousel .control-dots .dot {
    background-color: grey;
    width: 14px;
    height: 14px;
    transition: all 0.3s ease;
  }
  
  .banner-container .carousel .control-dots .dot.selected {
    background-color: #d94c00;
    padding: 2px;
  }
  .banner-button{
    width: 40%;
  }
  @media (max-width: 1200px) {
    .banner-container .carousel .control-dots {
      bottom: 20px; /* Adjust as needed */
    }
    .banner-button{
      width: 40% !important;
    }
  }
  
  @media (max-width: 768px) {
    .banner-container .carousel .control-dots {
      bottom: 100px; 
      left: 17%;/* Adjust as needed */
    }
    .carousel-section {
      max-width: 100% !important;
      position: relative;
      height: 70vh !important;
    }
    
    .carousel-container {
      background: linear-gradient(to bottom, #ffc0cb73 0%,#ffc0cb88 55%, #d7fbfd73 70% , #ffffff00 100% );
   
  }
  .banner-button{
    width: 50%;
  }
    
  }
  .banner-title{
    font-size: 40px;
  }
  @media (max-width: 480px) {
    .banner-container .carousel .control-dots {
      bottom: 10px; /* Adjust as needed */
    }
    .banner-title{
      font-size: 30px;
    }
  }
  
  @media (max-width: 480px) {
    .carousel-container {
      
    }
    .banner-button{
      width: 50% !important;
    }
    .banner-container {
      display: flex;
      justify-content: center;
     
  }
  .carousel-section {
    max-width: 100% !important;
    padding: 0px;
  }
    .banner-title {
      font-size: 24px;
    }
    .banner-description {
      font-size: 14px;
    }
    .read-more-button {
      width: 60%;
    }
    .image-section {
      position: relative;
      height: cover;
      justify-content: left;
      margin-right: 0 !important;
      padding-top: 40px;
    }
    .text-section {
      height: 35vh;
      padding: 0;
   
        width: 100% !important;
   
    }
  }

  @media (min-width: 766px) and (max-width: 1200px) {
    .carousel-section {
      max-width: 60% !important;
      
    }
    .banner-container{
      justify-content: left;
    }
    .banner-button{
      width: 50% !important;
    }
  }