.carousel-container {
    background: linear-gradient(to right, #ffc0cb73 0%,#ffc0cb88 25%, #d7fbfd73 45% , #ffffff00 55% );
    height: 60vh;
    box-sizing: border-box;
    color: #173f5f;
}

.banner-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}

.carousel-section {
    max-width: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    max-width: 50%;
  }
  
  .image-section {
      display: flex;
      align-items: baseline;
      justify-content: end;
      height: 50vh;
      max-width: 100% !important;
      box-sizing: border-box;
      margin-right:-24px !important;
    }
    
    .image-container {
        width: 100%;
        height: auto;
        background-size: auto;
        background-position: center;
    }
  
    .text-section { 
    padding:20px 30px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  
  .carousel .slide {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }
  
  .banner-container .carousel .control-dots {
    position: absolute;
    bottom: 130px; /* Adjust as needed */
    left: 40px; /* Position dots to the left by 260px */
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .banner-container .carousel .control-dots .dot {
    background-color: grey;
    width: 14px;
    height: 14px;
    transition: all 0.3s ease;
  }
  
  .banner-container .carousel .control-dots .dot.selected {
    background-color: #d94c00;
    padding: 2px;
  }
  