/* Categories.css */

.categories-container {
    padding:6% 3%;
  }
  
  .category-title {
    margin-bottom: 20px;
  }
  
  .view-all-button-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  
  .category-card {
    position: relative; /* Ensure positioning for overlay */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
    text-align: center;
    height: 320px; /* Adjust height as needed */
    overflow: hidden; /* Hide overflow to contain overlay */
    border-radius: 8px !important;
    
}

.category-card img {
      border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6); /* Apply darkness to image */
  }
  
  .category-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.151); /* Semi-transparent black overlay */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .category-card .overlay h6 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  
  .view-all-button {
    background-color: #ed553b !important;
    color: white;
    margin-top: 28px !important; /* Adjust spacing */
    padding: 9px 35px !important;
    border-radius: 8px !important;
    font-weight: 600 !important;
    font-size: 1.2rem !important;
    text-transform: capitalize !important;
  }
  
  .view-all-button:hover {
    background-color: #d94c00;
  }
 