.footer {
    background-color: #ffffff;
    padding: 40px 20px;
    margin-top: 40px;
    padding-bottom: 5%;
  }
  
  .footer-section {
    text-align: left;
  }
  
  .footer-logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .footer-description {
    margin-bottom: 20px;
    color: #173f5f;
  }
  
  .social-icons {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-copy {
    color: #173f5f;
  }
  
  .footer-title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #e63946;
  }
  
  .footer-links {
      
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #173f5f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
  }
  
  .news-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .news-image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .news-title {
    font-weight:600;
    color: #e63946;
    margin-bottom: 5px;
  }
  
  .news-description {
    color: #173f5f;
  }
  
  .news-date {
    color: rgb(226, 182, 7);
  }
  
  .footer-privacy {
    margin-top: 20px;
    text-align: center;
    color: #173f5f;
    display: flex;
    justify-content: space-between;
  }
  
  .privacy-link{
    text-decoration: none;
    color: #e63946;
}

.terms-link {
      text-decoration: none;
    color:#000;
  }
  