.for-free-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdf3f1;
  max-width: 100% !important;
  padding: 20px !important;
  box-sizing: border-box;
}

.image-box {
  height: 100%;
  overflow: hidden;
}

.free-books-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-box {
  display: flex;
  color: #000;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.title {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 700;
  font-size: 1.9rem;
}

.description {
  line-height: 1.5;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 1.1rem;
}

.subscribe-box {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-style::placeholder {
  color: #d3d3d3 !important;
  font-weight: 600;
}

.input-style:focus {
  color: #5f5f5f;
}

/* Responsive Styles */
@media (max-width: 900px) {
  .title {
      font-size: 1.5rem;
  }
  
  .description {
      font-size: 1rem;
      margin-bottom: 20px;
  }
  
  .content-box {
      padding: 20px;
  }
  
  .subscribe-box {
      flex-direction: column;
  }
  
  .input-style {
      width: 100%;
      padding: .9rem !important;
      border-radius: 0.5rem;
  }
  
  .subscribe-box input[type="button"] {
      width: 55%;
      padding: .9rem !important;
      border-radius: 0.5rem;
      margin-left: 0;
  }
  
  .image-box {
      display: none;
  }
}
