.for-free-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdf3f1;
    max-width: 100% !important;
    padding: 0 !important;
  }
  
  .image-box {
    height: 100%;
    overflow: hidden;
  }
  
  .free-books-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content-box {
    display: flex;
    height: 80%;
    width: 70%;
    color: #000;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    padding: 30px 60px;
    margin-left: 65px !important;
  }
  
  .title {

    margin-bottom: 20px;
    line-height: 60px !important;
    font-weight: 700 !important;
    font-size: 1.9rem !important;
}

.description {
      line-height: 30px !important;
    margin-bottom: 80px !important;
    width: 85%;
    font-weight:500 !important;
    font-size: 1.1rem !important;
  }
  
  .subscribe-box {
    display: flex;
    align-items: center;
  }
  
  .email-input {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .subscribe-button {
    background-color: #ff6347;
    color: white;
  }
  
  .subscribe-button:hover {
    background-color: #ff4500;
  }

  .for-free-container .input-style::placeholder {
    color: #d3d3d3 !important; 
    font-weight: 600;/* Placeholder text color with opacity */
  }

  .for-free-container .input-style:focus {
    color: #5f5f5f; /* Text color when focused */
  }
  