.MuiAppBar-root {
  background-color: transparent !important;
}
.header-container {
  background-color: #282c34;
  color: white;
  padding: 0;
  color: #173f5f;

}

.header-padding{
  padding: 0 80px;
}

.header-top {
  padding: 5px 0;
}

.header-middle {
  padding: 10px 0;
}

.header-phone {
  margin-left: 10px;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  letter-spacing: .02cm !important;
}

.search-bar {
  width: 550px;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-link {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.header-link-text {
  margin-left: 5px;
}

.header-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icon {
  color: white;
  padding: 0 20px !important;
}

.menu-container{
padding:30px 0 !important;
}

.header-navigation {
  background-color: #173f5f;
  color: white;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  min-height: fit-content !important;
  
}

.header-nav-item {
  margin-right: 15px;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 2px !important;
}

.header-nav-item a {
  color: rgb(236, 236, 236);
  transition: color 0.3s ease;
}

.header-nav-item a:hover,
.header-nav-item a:focus,
.header-nav-item a:active {
  font-weight: 700;
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.header-nav-separator {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 10px;
}

.underline::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc; 
  margin-left: 5px; 
}

