.login-banner-container {
    background: linear-gradient(to right, #ffc0cb73 0%,#ffc0cb88 25%, #d7fbfd4b 55% , #ffffff00 100% );
    height: 60vh;
    box-sizing: border-box;
    color: #173f5f;
}

.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-section {
    max-width: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    max-width: 50%;
  }
  
  .image-section {
      display: flex;
      align-items: self-end;
      justify-content: end;
      height: 60vh;
      max-width: 100% !important;
      box-sizing: border-box;
      margin-right:-24px !important;
    }
    
    .image-container {
        width: 100%;
        height: auto;
        background-size: contain;
        background-position: center;
    }
  
    .login-banner-text-section { 
    padding:20px 30px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  

  .banner-login-text{
    width: 100%;
  }