.login-banner-container {
    background: linear-gradient(to right, #ffc0cb73 0%,#ffc0cb88 25%, #d7fbfd4b 55% , #ffffff00 100% );
    height: 70vh;
    box-sizing: border-box;
    color: #173f5f;
    padding: 0px 0px;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-section {
    max-width: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    max-width: 50%;
  }
  
  .login-image-section {
      display: flex;
      align-items: self-end;
      justify-content: end;
      height: 70vh;
      max-width: 100% !important;
      box-sizing: border-box;
      margin-right:-24px !important;
    }
    
    .Login-image-container {
        width: 100%;
        height: auto;
        background-size: contain;
        background-position: center;
    }
  
    .login-banner-text-section { 
    padding:30px 30px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  

  .banner-login-text{
    width: 100%;
    padding-left: 100px;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .input-style::placeholder {
    color: #d3d3d3 !important; 
    font-weight: 600;/* Placeholder text color with opacity */
  }

  .input-style:focus {
    color: #5f5f5f; /* Text color when focused */
  }