.login-banner-container {
    background: linear-gradient(to right, #ffc0cb73 0%,#ffc0cb88 25%, #d7fbfd4b 55% , #ffffff00 100% );
    height: max-content;
    box-sizing: border-box;
    color: #173f5f;
    padding: 0px 0px;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-section {
    max-width: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    max-width: 50%;
  }
  
  .login-image-section {
      display: flex;
      align-items: self-end;
      justify-content: end;
      height: max-content;
      max-width: 100% !important;
      box-sizing: border-box;
      margin-right:-24px !important;
    }
    
    .Login-image-container {
        width: 100%;
        height: 100% !important;
        background-size: contain;
        background-position: center;
    }
  
    .login-banner-text-section { 
    padding:30px 30px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  

  .banner-login-text{
    width: 100%;
    padding:0 !important;
  }

  .input-style::placeholder {
    color: #d3d3d3 !important; 
    font-weight: 600;/* Placeholder text color with opacity */
  }

  .input-style:focus {
    color: #5f5f5f; /* Text color when focused */
  }
  
  @media (max-width: 576px) {
    .login-section {
      max-width: 100%!important;
      padding: 30px;
    }
    .width-text{
     width: 100%!important;
    }
    .login-image-section {
      display: none;
    }
  }

/* Small screens (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .login-banner-container {
    background: linear-gradient(to right, #ffc0cb73 0%,#ffc0cb88 75%, #d7fbfd4b 95% , #ffffff00 100% );
   
}
  .login-section {
     max-width: 100%!important;
     padding: 30px;
   }
   .width-text{
    width: 100%!important;
   }

  .login-image-section {
     display: none;
   }
  .Login-image-container {
     width: 90%;
     height: auto;
   }
  .banner-login-text {
     padding-left: 40px;
     padding-top: 30px;
     padding-bottom: 30px;
   }
  .input-style {
     width: 100%;
     max-width: 350px;
   }
 }
 
 /* Medium screens (768px to 991px) */
 @media (min-width: 768px) and (max-width: 991px) {

  .login-banner-container {
    background: linear-gradient(to right, #ffc0cb73 0%,#ffc0cb88 75%, #d7fbfd4b 95% , #ffffff00 100% );
   
}
.css-9drkqd-MuiGrid-root {
 
  flex-basis: 100%;
}
.width-text{
  width: 100%!important;
 }
  .login-section {
     max-width: 100%!important;
     padding: 40px;
   }
   .login-image-section {
    display: none;
  }

  .login-image-section {
     height: 60vh;
     margin-right: -18px!important;
   }
  .Login-image-container {
     width: 100%;
     height: auto;
   }
  .banner-login-text {
     padding-left: 60px;
     padding-top: 40px;
     padding-bottom: 40px;
   }
  .input-style {
     width: 100%;
     max-width: 400px;
   }
 }
 
 /* Large screens (992px to 1199px) */
 @media (min-width: 992px) and (max-width: 1199px) {
  .login-section {
     max-width: 55%!important;
     padding: 50px;
   }

  .login-image-section {
     margin-right: -24px!important;
     height: 80vh;
    }
    .Login-image-container {
    height: 80vh;
     width: 100%;
     height: auto;
   }
  .banner-login-text {
     padding:0;
   }
  .input-style {
     width: 100%;
     max-width: 450px;
   }
 }
 
 /* Extra large screens (1200px and up) */
 @media (min-width: 1200px) {
  .login-section {
     max-width: 50%!important;
     padding: 60px;
   }
  .login-image-section {
     height: 70vh;
     margin-right: -24px!important;
   }
  .Login-image-container {
     width: 100%;
     height: auto;
   }
  .banner-login-text {
     padding-left: 100px;
     padding-top: 60px;
     padding-bottom: 60px;
   }
  .input-style {
     width: 100%;
     max-width: 500px;
   }
 }