.new-releases {
    padding: 20px 20px 0px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }
  
  .view-all-button {
    display: block;
    width: 30%;
    margin: 0 auto 20px;
    background-color:transparent !important;
    box-shadow: none;
    font-size: 1rem !important;
    text-align: center;
  }
  
  .book-grid {
    margin-top: 20px;
  }
  
  .book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:55vh;
  }
  
  .book-card img {
    width: 100%;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-dot {
    position: absolute;
    bottom: 5%;
    left: 40%;
    margin: auto;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .pagination-dot.active {
    background-color: #000;
  }
  
  .carousel .control-dots {
    position: absolute;
    bottom: 90px !important;
    left: 45% !important;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;}

    .underline-new-releases::after {
      content: '';
      display: block;
      width: 90%;
      margin: 0 0%;
      height: 3px;
      background-color: #ccc; 
      margin-left: 75px; 
    }